html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


html {
    font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* FONT LINK */

body {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

img {
    display: block;
}


/* HEADER NAVIGATION */

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width:30%;
}

header {
    height: 100vh;
    background-image: url('./assets/image-main.jpeg');
    background-size: cover;
    margin-bottom: 50px;
    background-attachment: fixed;
}  

h1 {
    font-family: "Raleway" 700;
    font-size: 68px;
    color: #333333;
    width: 50vw;
    padding-top: 100px;
}

h2{
    font-family: "Raleway";
    font-size: 22px;
    color: #777777;
    padding-top: 35px;
    text-transform: uppercase;
}

ul li a {
    font-family: "Raleway";
    font-size: 19px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 38px;
    color: #005769;
}


a:hover {
    background-color:#16D6D1;
    padding: 10px 15px;
    border-radius: 6px;
}

.large-text{
    font-family: "Raleway";
    font-size: 39px;
    font-weight: 700;
    color: #333333;
    padding: 20px 70px;
    margin-bottom: 20px;
}


/* FEATURE + IMAGES */

.read-more {
    font-family: "Raleway";
    font-size: 19px;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #16D6D1;
    padding: 10px 15px;
    border-radius: 6px;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.image-text img {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.image-text {
    background-color: #F6F8FA;
    text-align: center;
    width: 90%;
}

.image-left {
    margin-right: 35px;
    width: 40%;
    object-fit: cover;
}

.image-right {
    margin-left: 35px;
    width: calc(40% + 70px);
    object-fit: cover;
}

.image-five {
    max-width: 50%;
    margin-right: 35px;
}

.image-six {
    max-width: 50%;
}

.image-five img {
    max-width: 100%;
    height: auto;    
}

.image-six img {
    max-width: 100%;
    height: auto;    
}

/* FOOTER  CSS */

footer {
    background-color: #F6F8FA;
    margin-top: 80px;
}

footer p {
    font-size: 20px;
    font-family: Raleway;
    font-weight: 500;
   color: #777777;
   line-height: 1.6;
}

footer ul li {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    margin-top: 20px;
    column-count: 2;
    width: 50%;
}

.footer-container {
    display:flex;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 100px;
}

.footer-nav {
    display: flex;
    padding-left: 200px;
    flex-wrap: wrap;
}

.copyright {
    font-size: 20px;
    font-family: Raleway;
    font-weight: 500;
   color: #777777;

}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background-color: #777777;
}